/** vamos estudar agora a herança no css. Quando aplicamos certas propriedades em tags pai, essas propriedades são transmitidas, por herança, para as tags filhas, outras não são. */

body{ 
    /*? podemos perceber aqui que as propriedades de font foram transmitidas para todos os elementos filhos, mas nao border e padding.*/
    /** vale ressaltar, que o h1 nem sepre herda font-size, porque o navegador pode estar aplicando estilização padrão */
    font-family: monospace;
    font-size: 40px;
    border: solid 3px red;
    padding: 50px;
}

/*? para que possamos herdar um parametro do pai, utilizamos o valor "inherit" no paramentro correspondente. Isso é pouco utilizado e cuidado é necessário. */
div{
    border: inherit;
    padding: inherit;
}