html {
    height: 100%;
}

body {
    margin: 0;
    font-family: 'Oswald', sans-serif;
    background-color: lightgray;
    height: 100%;
}

.conteudo {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100%;
}

.menu-principal {
    min-width: 400px;
    text-align: center;
}

.menu-principal h1 {
    background: #333;
    color: #fff;
    border-bottom: solid 5px #4faddb;
    padding: 15px 0px;
    margin: 0;
}

.menu-principal nav {
    display: inline-block;
    background-color: #fff;
    min-width: 198px;
}

.menu-principal a {
    display: block;
    padding: 10px 0px;
    text-decoration: none;
    color: #222;
    font-size: 1.2em;
}

.menu-principal a:hover {
    background-color: rgba(79, 173, 219, .4);
}

.firstColumn > :nth-child(1), .firstColumn > :nth-child(2), .firstColumn > :nth-child(3), .firstColumn > :nth-child(4), .firstColumn > :nth-child(5), .firstColumn > :nth-child(6), .firstColumn > :nth-child(7), .firstColumn > :nth-child(8), .firstColumn > :nth-child(9), .firstColumn > :nth-child(10), .firstColumn > :nth-child(11), .firstColumn > :nth-child(12), .firstColumn > :nth-child(13), .firstColumn > :nth-child(14), .firstColumn > :nth-child(15){
    background: green!important;
}

.secondColumn > :nth-child(1), .secondColumn > :nth-child(2), .secondColumn > :nth-child(3), .secondColumn > :nth-child(4), .secondColumn > :nth-child(5), .secondColumn > :nth-child(6), .secondColumn > :nth-child(7), .secondColumn > :nth-child(8), .secondColumn > :nth-child(9), .secondColumn > :nth-child(10), .secondColumn > :nth-child(11), .secondColumn > :nth-child(12), .secondColumn > :nth-child(13){
    background: green!important;
}